@using BL.DTOs.Enums
@using Castle.Core.Internal
@model PL.Models.Users.UserListModel


<h2>List of users</h2>
<table style="width: 100%">
    <thead>
    <tr>
        <th>User</th>
        <th>Email</th>
        <th>Review average</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var user in  Model.Users)
    {
        if (user.Roles.Where(a => a.Role.Name == "Admin").IsNullOrEmpty())
        {
            <tr>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>
                    @Model.GetAverageReviewString(user)
                </td>
                <td>
                    @Html.ActionLink("Read reviews", "User", "Review", new { id = user.Id }, null)
                </td>
                <td>
                    @if (User.Identity.IsAuthenticated)
                    {
                        @Html.ActionLink("Add review", "AddReview", "Review", new {userId = user.Id}, null)

                    }
                </td>
                <td>
                    @if (User.IsInRole("Admin"))
                    {
                        @Html.ActionLink("Delete User", "Delete", new { id = user.Id }, null)
                    }
                </td>
            </tr>
        }
    }
    </tbody>
</table>

