@using PL.Controllers
@model PL.Models.Auctions.CreateAuctionModel


<h2>Create</h2>
<div>
    <span style="color: red"> @TempData["ErrorMessage"]</span>
</div>

                                                         


@using (Html.BeginForm("Create", "Account", FormMethod.Post, new
{enctype = "multipart/form-data"}))
{
    <div>
        <div>
            <span>Name:</span>
            <span>
                @Html.TextBoxFor(m => m.Dto.Name)
            </span>
            <span>
                @Html.ValidationMessageFor(m => m.Dto.Name)
            </span>
        </div>
        <div>
            <span>
                <label for="exampleFormControlTextarea1">Description</label>
                @Html.EditorFor(m => m.Dto.Description, new { @class = "form-control rounded-0", @id="exampleFormControlTextarea1", @rows="7" })
            </span>
            <span>
                @Html.ValidationMessageFor(m => m.Dto.Description)
            </span>
        </div>
        <div>
            <span>Starting price:</span>
            <span>
                @Html.TextBoxFor(m => m.Dto.StartPrice)
            </span>
            <span>
                @{
                    var symbol = CurrencyController.CalcCurrencyAndGetSymbol(0).Item2;
                    @symbol;
                }
            </span>
            <span>
                @Html.ValidationMessageFor(m => m.Dto.StartPrice)
            </span>
        </div>
        <br />
        <div>Start Date: </div>
        <div class="row">
            <div class='col-sm-3'>
                <div class="form-group">
                    <div class='input-group date' id='datetimepicker1'>
                        @Html.TextBoxFor(m => m.Dto.StartDate, new {@type = "text", @class = "form-control", @placeholder = "Start Date"})
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </div>
                        <span>
                            @Html.ValidationMessageFor(m => m.Dto.StartDate)
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div>End Date: </div>
        <div class="row">
            <div class='col-sm-3'>
                <div class="form-group">
                    <div class='input-group date' id='datetimepicker2'>
                        @Html.TextBoxFor(m => m.Dto.EndDate, new {@type = "text", @class = "form-control"})
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                        <span>
                            @Html.ValidationMessageFor(m => m.Dto.EndDate)
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <span>Items:</span>
            <span>
                @if (Model != null)
                {
                    foreach (var item in Model.AvailableItems)
                     {
                         <div class="checkbox">
                             <label>
                                 <input type="checkbox"
                                        name="SelectedItems"
                                        value="@item.Id"/>
                                 @item.Name
                             </label>
                         </div>
                     }
                }
                
            </span>
            <span>
                @Html.ValidationMessageFor(m => m.SelectedItems)
            </span>
        </div>


        <div>
            <span>Upload photo:</span>
            <span>

                @Html.TextBoxFor(m => m.Dto.Upload, new {type = "file", multiple = "true"})
            </span>
        </div>
        <div>
            <button type="submit" class="btn btn-default">Create</button>
        </div>

    </div>
    
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/locales/bootstrap-datepicker.es.min.js"></script>
    <script >
        $(function () {
            $('#datetimepicker1').datepicker({
                format: "dd.mm.yyyy",
                language: "en",
                autoclose: true,
                todayHighlight: true
            });
            
            $('#datetimepicker2').datepicker({
                format: "dd.mm.yyyy",
                language: "en",
                autoclose: true,
                todayHighlight: true
            });
        });
    </script>
                                        

}
