@model BL.DTOs.Users.LoginUser

<h2>Login</h2>
<p style="color: red">
    @TempData["Error"]
</p>
<form method="post">
    <div>
        <p>Login:</p>
        @Html.TextBoxFor(m => m.UserName)
        <p style="color: red">
            @Html.ValidationMessageFor(m => m.UserName)
        </p>
    </div>
    <div>
        <p>Password:</p>
        @Html.EditorFor(m => m.Password)
        <p style="color: red">
            @Html.ValidationMessageFor(m => m.Password)
        </p>
    </div>
    <div>
        <button type="submit">Login</button>
    </div>
</form>
