@model BL.DTOs.Users.CreateUser

<h2>Register</h2>
<p style="color: red">
    @TempData["Error"]
</p>
<p style="color: lawngreen">
    @TempData["Info"]
</p>
<form method="post">
    <div>
        <p>User name:</p>
        @Html.TextBoxFor(m => m.UserName)
        <p style="color: red">
            @Html.ValidationMessageFor(m => m.UserName)
        </p>
    </div>
    <div>
        <p>Password:</p>
        @Html.TextBoxFor(m => m.Password)
        <p style="color: red">
            @Html.ValidationMessageFor(m => m.Password)
        </p>
    </div>
    <div>
        <p>Email:</p>
        @Html.TextBoxFor(m => m.Email)
        <p style="color: red">
            @Html.ValidationMessageFor(m => m.Email)
        </p>
    </div>
    <div>
        <button type="submit">Register</button>
    </div>
</form>