@using WebGrease.Css
@model BL.DTOs.Users.UserShowSettingPage

<h2>Informations</h2>
<p style="color: lawngreen">@TempData["Success"]</p>
<form method="post">
    <div>
        <p>Id: </p>
        @Html.TextBoxFor(m => m.Id, new { @readonly = true })
    </div>
    <div>
        <p>Email:</p>
        @Html.TextBoxFor(m => m.Email, new { @readonly = true })
        <p style="color: red">
            @Html.ValidationMessageFor(m => m.Email)
        </p>
    </div>
    <div>
        <p>User name:</p>
        @Html.TextBoxFor(m => m.UserName, new { @readonly = true })
        <p style="color: red">
            @Html.ValidationMessageFor(m => m.UserName)
        </p>
    </div>

            
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Phone<span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
        @for (int i = 0; i <= 999999999; ++i)
        {
            <li>@i</li>
    
        }
        </ul>
    </div>
    <div>
        
        <button type="submit">Update</button>
    </div>
</form>
