@using WebGrease.Css
@model BL.DTOs.Users.UserShowSettingPage

<h2>Informations</h2>
<p style="color: lawngreen">@TempData["Success"]</p>
<form method="post">
    <div>
        <p>Id: </p>
        @Html.TextBoxFor(m => m.Id, new { @readonly = true })
    </div>
    <div>
        <p>Email:</p>
        @Html.TextBoxFor(m => m.Email, new { @readonly = true })
        <p style="color: red">
            @Html.ValidationMessageFor(m => m.Email)
        </p>
    </div>
    <div>
        <p>Phone</p>
        <form name="rn">
            @Html.TextBoxFor(m => m.PhoneNumber, new {@type = "text", @id = "tb", @name = "tb", @readonly = true})
            <input type="button" value="Generate!" onclick="Random();"/>
        </form>
    </div>

    <div>
        
        <button type="submit">Update</button>
    </div>
</form>

<script>
    function Random() {
        var rnd = Math.floor(Math.random() * 1000000000);
        document.getElementById('tb').value = rnd;
    }
</script>
