@model BL.DTOs.Base.ReviewDto

<h2>AddReview</h2>


<form method="post">
    <p>
        @for (int i = 1; i <= 10; i++)
        {
            <span style="width: 5rem">@i</span>
            @Html.RadioButtonFor(m => m.Evaluation, i)
            @:&nbsp;
        }
    </p>
    <p>
        Description
        @Html.EditorFor(m => m.Description)
    </p>

    @Html.HiddenFor(m => m.ReviewedUserID)
    @Html.HiddenFor(m => m.UserWhoWroteID)
    @Html.HiddenFor(m => m.Id)
    <input type="submit" value="Submit">
</form>
