@model PL.Models.Auctions.CreateAuctionModel


<h2>Create</h2>
<div>
    <span style="color: red"> @TempData["ErrorMessage"]</span>
</div>

                                                         


@using (Html.BeginForm("Create", "Auctions", FormMethod.Post, new
{enctype = "multipart/form-data"}))
{
    <div>
        <div>
            <span>Name:</span>
            <span>
                @Html.TextBoxFor(m => m.Dto.Name)
            </span>
            <span>
                @Html.ValidationMessageFor(m => m.Dto.Name)
            </span>
        </div>
        <div>
            <span>Description:</span>
            <span>
                @Html.TextBoxFor(m => m.Dto.Description)
            </span>
            <span>
                @Html.ValidationMessageFor(m => m.Dto.Description)
            </span>
        </div>
        <div>
            <span>Starting price:</span>
            <span>
                @Html.TextBoxFor(m => m.Dto.ActualPrice)
            </span>
            <span>
                @Html.ValidationMessageFor(m => m.Dto.ActualPrice)
            </span>
        </div>
        <div class="row">
            <div class='col-sm-6'>
                <div class="form-group">
                    <div class='input-group date' id='datetimepicker1'>
                        <span>Start Date</span>
                        @Html.TextBoxFor(m => m.Dto.StartDate, new {@type = "text", @class = "form-control"})
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                        <span>
                            @Html.ValidationMessageFor(m => m.Dto.StartDate)
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class='col-sm-6'>
                <div class="form-group">
                    <div class='input-group date' id='datetimepicker2'>
                        <span>End Date</span>
                        @Html.TextBoxFor(m => m.Dto.EndDate, new {@type = "text", @class = "form-control"})
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                        <span>
                            @Html.ValidationMessageFor(m => m.Dto.EndDate)
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <span>Items:</span>
            <span>
                <table>
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Photo</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model.AvailableItems)
                    {
                        <tr>
                            <td>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox"
                                               name="SelectedItems"
                                               value="@item.Id"/>
                                    </label>
                                </div>
                            </td>
                            <td>
                                @item.Name
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>  
            </span>
        </div>
        <div>
            <span>Upload photo:</span>
            <span>
                @Html.TextBoxFor(m => m.Dto.Upload, new { type = "file" })
            </span>
        </div>
        <div>
            <button type="submit">Create</button>
        </div>
       
    </div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/locales/bootstrap-datepicker.es.min.js"></script>
    <script >
        $(function () {
            $('#datetimepicker1').datepicker({
                format: "dd.mm.yyyy",
                language: "en",
                autoclose: true,
                todayHighlight: true
            });
            
            $('#datetimepicker2').datepicker({
                format: "dd.mm.yyyy",
                language: "en",
                autoclose: true,
                todayHighlight: true
            });
        });
    </script>
                                        

}
