@model PL.Models.Auctions.CreateAuctionModel



<h2>Create</h2>
<div>
    <span style="color: red"> @TempData["ErrorMessage"]</span>
</div>
@using (Html.BeginForm("Create", "Auctions", FormMethod.Post, new
{enctype = "multipart/form-data"}))
{
    <div>
        <div>
            <span>Name:</span>
            <span>
                @Html.TextBoxFor(m => m.Dto.Name)
            </span>
            <span>
                @Html.ValidationMessageFor(m => m.Dto.Name)
            </span>
        </div>
        <div>
            <span>Description:</span>
            <span>
                @Html.TextBoxFor(m => m.Dto.Description)
            </span>
            <span>
                @Html.ValidationMessageFor(m => m.Dto.Description)
            </span>
        </div>
        <div>
            <span>Starting price:</span>
            <span>
                @Html.TextBoxFor(m => m.Dto.ActualPrice)
            </span>
            <span>
                @Html.ValidationMessageFor(m => m.Dto.ActualPrice)
            </span>
        </div>
        <div>
            <span>Starting date:</span>
            <span>
                @Html.TextBoxFor(m => m.Dto.StartDate)
            </span>
            <span>
                @Html.ValidationMessageFor(m => m.Dto.StartDate)
            </span>
        </div>
        <div>
            <span>Ending date:</span>
            <span>
                @Html.TextBoxFor(m => m.Dto.EndDate)
            </span>
            <span>
                @Html.ValidationMessageFor(m => m.Dto.EndDate)
            </span>
        </div>
        <div>
            <span>Items:</span>
            <span>
                @foreach (var item in Model.AvailableItems)
                {
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"
                                   name="SelectedItems"
                                   value="@item.Id"/>
                            @item.Name
                        </label>
                    </div>
                }
            </span>
        </div>

        <div>
            <span>Upload photo:</span>
            <span>
                @Html.TextBoxFor(m => m.Dto.Upload, new { type = "file" })
            </span>
        </div>
        <div>
            <button type="submit">Create</button>
        </div>
    </div>

}
