@using BL.DTOs.Base
@using X.PagedList.Mvc
@model PL.Models.Auctions.AuctionListModel

<div>
    @if (Model.Auctions != null && Model.Auctions.Any())
    {
        <table style="width: 100%">
            <thead>
            <tr>
                <th>Auction name</th>
                <th>Items price</th>
                <th>Actions</th>
            </tr>
            </thead>

            <tbody>

            @foreach (var dto in Model.Auctions)
            {
                <tr>
                    <td>@dto.Name</td>
                    <td>@dto.TestPrice</td>
                    <td>
                        @Html.ActionLink("Inspect", "Auction", new {controller = "Auctions", action = "Auction", id = dto.Id})
                    </td>
                    @if (User.IsInRole("Admin"))
                    {
                        <td>
                            @Html.ActionLink("Delete", "Delete", new { controller = "Auctions", auctionId = dto.Id})
                        </td>  
                    }
                </tr>
            }
            </tbody>
        </table>
        
        <div class="col-md-12">
            @Html.PagedListPager(Model.Auctions, page => Url.Action("Index", new { controller = "Auctions", page}))
        </div>
    }
    else
    { 
        <div style="text-align: center">
            <b>Nothing to show</b>
        </div>
    }
</div>


