    @if (!Request.IsAuthenticated)
    {
        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Register", "Register", "Account")
            </li>
            <li>
                @Html.ActionLink("Login", "Login", "Account")
            </li>
        </ul>
    
    }
    else
    {
        
        
        using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
            @Html.AntiForgeryToken()

            
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @User.Identity.Name <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("My account", "Info", "Account")</li>
                    @if (!User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("My items", "MyItems", "Account")</li>
                        <li>@Html.ActionLink("My auctions", "MyAuctions", "Account")</li>
                        <li>@Html.ActionLink("My reviews", "Logout", "Account")</li>
                    }
                    <li>@Html.ActionLink("Logout", "Logout", "Account")</li>
                </ul>
            </div>
                                                                                                                                                            
        }   
    }

